<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXP-7wmCf7K0j2990NDs_Tqv3uiLo45nI</string>
	<key>GCM_SENDER_ID</key>
	<string>466723552887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PumbaTim.Jina</string>
	<key>PROJECT_ID</key>
	<string>jina-2937d</string>
	<key>STORAGE_BUCKET</key>
	<string>jina-2937d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466723552887:ios:498bfee2b76a7ca8b99072</string>
</dict>
</plist>